@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-display: auto;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-display: auto;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("/fonts/SegoeUI-Bold.ttf");
  font-weight: bold;
  font-display: auto;
  font-style: normal;
}
