@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.prose {
  @apply text-secondary;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.prose small {
  @apply text-secondary;
}

.prose h3 {
  @apply text-primary;
}

.prose pre {
  @apply border shadow-sm bg-bg-secondary text-primary border-accent-primary;
}

.prose a {
  @apply text-secondary;
  @apply no-underline;
}

.dark {
  --text-primary: 255, 255, 255;
  --text-secondary: 229, 231, 235;
  --bg-primary: 24, 24, 27;
  --bg-secondary: 30, 30, 33;
  --accent-primary: 41, 41, 44;
  --accent-secondary: 37, 37, 40;
  --brand-primary: 125, 211, 252;
  --brand-secondary: 56, 189, 248;
  --success-primary: 154, 230, 180;
  --success-secondary: 104, 211, 145;
  --error-primary: 254, 178, 178;
  --error-secondary: 252, 129, 129;
}

.light {
  --text-primary: 24, 24, 27;
  --text-secondary: 39, 39, 42;
  --bg-primary: 255, 255, 255;
  --bg-secondary: 243, 244, 246;
  --accent-primary: 243, 244, 246;
  --accent-secondary: 244, 245, 248;
  --brand-primary: 14, 165, 233;
  --brand-secondary: 2, 132, 199;
  --success-primary: 72, 187, 120;
  --success-secondary: 56, 161, 105;
  --error-primary: 245, 101, 101;
  --error-secondary: 229, 62, 62;
}
