.timelinecards {
  display: flex;
}

.timelinecards::before {
  content: '';
  display: none;
  position: relative;
  width: 3px;
  height: 80%;
  border-radius: 2px;
  top: 25%;
}
.timelinecards:not(:last-child)::before {
  display: hidden;
  @apply bg-brand;
  content: '';
  position: relative;
  width: 3px;
  height: 65%;
  border-radius: 2px;
  top: 35%;
}

@media only screen and (min-width: 600px) {
  .timelinecards::before,
  .timelinecards:not(:last-child)::before {
    display: block;
  }
}
