.timelinecards {
  display: flex;
}

/* .timelinecards::before {
  content: '';
  display: none;
  position: relative;
  width: 3px;
  height: 80%;
  border-radius: 2px;
  top: 25%;
} */
.timelinecards::before {
  display: none;
  @apply bg-brand;
  content: '';
  position: relative;
  width: 3px;
  border-radius: 2px;
  margin-top: 2em;
}

@media only screen and (min-width: 600px) {
  .timelinecards::before {
    display: block;
  }
}
